<strong>
  Olá,
  {{provider}}
</strong>
<p>
  Houve um registro de encomentda, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Cliente:
  </strong>
  {{user}}
  <br />
  <strong>
    Data/hora:
  </strong>
  {{date}}
  <br />
  <br />
  <small>
    Gogo.
  </small>
</p>
